

.centerContainer {
    background-color: #f3f3f3;
    height: 200px;
    display: inline-block;
}

.headerContainer {
	position: fixed;
    top: 0px;
    z-index: 2;
    background: #0088FF;
    width: 100%;
    padding: 15px;
    min-height: 150px
}

.bodyContainer {
	min-height: 500px;
	width: 100%;
    padding-right: 40px;
    padding-left: 20px;
}

.header-img{
	height: 100px;
    width: 100px;
    padding: 0

}
.right {
		float: right
}

.left {
	float: left;
}
.headerContent {
    right: 20px;
    left: 20px;
    height: 90%;
    position: absolute;
    padding:15px;

}

.searchBar{
	background-color: #1E5E97;
    margin-top: 20px;
    height: 70px;
    border: 0;
    background-image: url("../media/imgs/search.png");
    background-repeat: no-repeat;
    text-indent: 70px;
    background-size: 45px 45px;
    background-position: 2% center;
    font-size: 40px;
    color: white;
    margin-left: 3%
}

.icon {
    height: 130px;
    width: 130px;
    margin: 30px;
    margin-bottom: 5px
}
.fire {
    background-color: #F95F62;
}

.blocker {
    background-color: #FFBA5C;
}

.goodNews {
    background-color: #13CE66;
}

.info {
    background-color: #0088FF;
}

.circle {
    border-radius: 50%;
    margin: 0 auto;
}

.navbar-iconGroup {
    min-height: 240px;
    margin-top: 160px;
}

.icon-img {
    height:125px;
    width:125px;
    padding: 15px;
}
.table-center {
    margin: 0 auto;
    width: 100%;
}

.table-center td, th{
    width: 2000px;
    text-align: center;
}

.fire-message {
    font-size: 30px;
    color: #F95F62;
    text-align: center;
}

.blocker-message {
    font-size: 30px;
    color: #FFBA5C;
    text-align: center;
}

.good-message {
    font-size: 30px;
    color: #13CE66;
    text-align: center;
}

.info-message {
    font-size: 30px;
    color: #0088FF;
    text-align: center;
}

.seperator {
    background-color: #F6FAFF;
    height: 100px;
    font-size: 40px;
    color: #47525E;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.message-table {
    font-size: 40px;
}

.icon.small {
    height: 80px;
    width: 80px;
}

.icon-img.small {
    height: 80px;
    width: 80px;
}


.message-table tr:nth-child(3n)>td:nth-child(n+2) {
    border-bottom: 1px solid #E5EBF3;
}

.xsmall {
    height: 50px;
    width: 50px;
}

.header-text {
    font-size: 45px;
    padding-top: 20px;
}

.white {
    color: white;
}

.bigMargin {
    margin: 3.5em;
}

textarea#inputbox {
    border:none;
    border-bottom: 1px solid grey;
    font-size: 40px;
    width: 100%;
    margin-top: 20px;
}
.text {
    font-size: 35px;
}

#sendbox {
    background-color: #F6FAFF;
    border:none;
    font-size: 40px;
    width: 100%;
    margin-top: 2em;
}

#sendBtn{
    width: 100%;
    height: 140px;
    background-color: #0088FF;
    font-size: 40px;
    color:white;
    margin-top: 2em;
}
.navbar {
    margin-top: 140px;
}
.panel {
    width: 100%;
    display: block;
}


@media screen and (min-width: 981px) {
    .panel{
        width: 760px;
        margin: auto;
        display: block;
    }
    .headerContainer {
        width: 760px;
    }
}
